body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.ad {
  display: flex;
  max-width: 600px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(19, 10, 54, 0.1);
  filter: drop-shadow(-15px -10px 10px);
}

.ad img {
  width: 50%;
  object-fit: cover;
}

.ad-details {
  padding: 20px;
}

.ad-details h2 {
  font-size: 24px;
  color: #333;
  margin-top: 0;
}

.ad-details h3 {
  font-size: 18px;
  color: #555;
  margin-top: 0;
}

.ad-details p {
  font-size: 16px;
  color: #777;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

.btn:hover {
  background-color: #0056b3;
}
